@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/assets/scripts/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>

    <link href="/assets/template/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
